.szamlalo {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}
.szamlalo h1, h2 {
  color: #333;
}
.szamol {
  margin: 20px 0;
}
.count {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.count {
  background-color: #0044ff;
  color: white;
  border: none;
  border-radius: 5px;
}